[Desktop Entry]
Icon=font-ttf
Name=JetBrains Mono Bold Italic Nerd Font Complete Mono Windows Compatible.ttf
Type=Link
URL[$e]=file:$HOME/Downloads/JetBrainsMono/JetBrains Mono Bold Italic Nerd Font Complete Mono Windows Compatible.ttf
X-KDE-LastOpenedWith=org.kde.kfontview
