[Desktop Entry]
Icon=application-zip
Name=JetBrainsMono.zip
Type=Link
URL[$e]=file:$HOME/Downloads/JetBrainsMono.zip
X-KDE-LastOpenedWith=org.kde.ark
